ul {
  background-color: #333333;
  border: 1px solid black;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  z-index: 2;
}

li a:link,
a:visited {
  color: white;
}

.card {
  background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px #d1dee5;
  z-index: 1;
}

.slider {
  position: static;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-img {
  width: 100%;
  z-index: 2;
}

div .image {
  height: 250px;
  width: 250px;
  /* //margin-right: 50px; */
  padding: 20px;
  padding-left: 40px;
  vertical-align: top;
  overflow: hidden;
  /* display: inline-block; */
  z-index: 2;
  float: left;
  margin: 0 20px 20px 0;
}

/* p {
  overflow: hidden;
  display: inline-block;
} */

.p-text {
  margin-left: 350px;
  padding-right: 20px;
  font-size: 15px;
  text-align: justify;
  column-fill: balance;
  column-width: 300px;
  column-rule: 2px solid black;
  z-index: 2;
  text-align: justify;
  text-indent: 2em;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 55px;
  margin-top: 10px;
}
